/* --- Не знам защо слагаш селекторите да бъдат навътре, но попринцип е прието селектора и затварящата скоба да бъдад на едно и също ниво, а стиловете да са навътре.
        В крайна сметка това е въпрос на стил, но смятам че дори и на теб ще ти е по-удобно ако ги подреждаш инак. --- */
body {
    background-color: #34495e;
    width: 100%;
}
    #competitorS {
    color: white;
    text-align: left;
    font-size: 20px;
    
}
    .cardBussines {
    background-color: #e74c3c;
}
    #mainTable {
    width: 100%;
}
    .firstName {
    color: white;
}
    .secondAtr {
    color: white;
}
    .properAtr {
    color:rgb(251, 255, 0);
}
    img {
    width: 100px;
}
