body{
    background-color:#34495e;
    margin:0; /* --- Браузъра си идва със собствен margin, и ти измества твоите елементи. То този начин зачистваме default-ния margin и работим на чисто. --- */
}

.navSection {
    background-color: steelblue;
    position: fixed;
    left: 0;
    top: 0;
    /* --- В тази ситуация, ти върши работа, но ехубаво да знаеш, че както си направила стиловете долу, реалната дължина на елемента ще е 105%. --- */
    width: 100%;
    padding-left: 5%; /* --- padding реално влиза във размерите на елемнта. --- */
    height: 70px;
}

.navList {
    text-align: center;
    margin-bottom: 10px;
}

.image {
    position: absolute;
}

/* --- Така или инак си сложила калс на навигацията .navSection, можеш да използваш него вместо nav селектора.
        Ако използваш класове а не селектори по таг, ще си подсигуриш, че няма да пречиш на дриги елементи по страницата.
        Можеш да го промениш на нещо от типа на: --- */

.navSection li {
    display: inline;
    text-align: center;
}

/* --- Сега дори и да имаш други <nav> тагове, със <li> вътре в тях, ще знаеш, че стиловете от горе няма да им пречат. --- */

nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 50px 0;
    line-height: 20px;
    text-align: center; 
    font-size: 20px;
}
.mainContent {
    background-color: white;
    /* --- На твоя компютър 5% от височината, можеби е нещо близко до 70px (височината, която си сложила на header-a), но нямаш гаранция, че на друга резолюция няма да е повече или по-малко. 
    Ако сложиш фиксирани пиксели за отгоре, ще знаеш, че винаги ще изглежда добре --- */
    margin: 70px 5% 0 5%; 
}

.innerContent{
    padding: 0 50px 50px 50px;
}

.textSection {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.asidePicture {
    display: inline-block;
    text-align: right;
    width: auto;
}
.breadrumb {
    /* --- Aко използваш relative или static ще знаеш, че какъвто и елемент да поставиш след този, винаги ще бъде на правилното одстояние. 
    В момента е absolute и не изблъсква останалите елементи, и трябва да се грижиш сама да добавяш стилове, които да ги отместват.  
    Зa да можем да поставим или margin или padding на елемента, той трябва да е или display:block или display:inline-block.
    Понеже няма смисъл правим <span>, който да е dispaly:block, съм заменил тага да е със <div> ---*/
   padding: 30px;
}